@charset "utf-8";
/*Greg's Grid CSS Layout*/
/*Filename: mango_grid*/

/*This doc was made from scratch bc I'm a real one. Lot's of learning was leared here*/

/*Global Variables*/
:root {
    --main-radius: 15px;
    --main-padding: 5px;
}

/*HTML*/
html {
    background-image: url("cloud_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*first i center the grid*/
body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(156, 156, 156, 0.288);
    box-shadow: 0px 0px 16px 16px rgba(116, 116, 116, 0.493);
}

/*setting up the grid*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr .2fr 1.5fr 1fr 1fr .5fr;
    grid-gap: .5rem;
    grid-template-areas: "header-container header-container header-container header-container"
        "nav nav nav nav"
        "content-window content-window content-window  sidebar"
        "about about about sidebar"
        "blank blurb1 blurb2 sidebar"
        "footer footer footer footer";
        font-family: 'Courier Prime', monospace;
        text-align: center;
}

/*Assign to Grid*/
/**/
div#header-container {
    grid-area: header-container;
    background: rgb(250, 190, 255);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

nav {
    grid-area: nav;
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#content-window {
    grid-area: content-window;
    background: rgb(255, 190, 230);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#sidebar {
    grid-area: sidebar;
    background: rgb(255, 190, 190);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#about {
    grid-area: about;
    background: rgb(255, 190, 190);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#c1 {
    grid-area: blank;
    background: rgb(224, 190, 255);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#c2 {
    grid-area: blurb1;
    background: rgb(190, 247, 255);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

div#c3 {
    grid-area: blurb2;
    background: rgb(190, 255, 252);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

footer {
    grid-area: footer;
    background: rgb(190, 255, 233);
    padding-top: var(--main-padding);
    border-radius: var(--main-radius);
}

.container>* {
    outline: 2px dashed red;
}

/*yaaaaaaaaaaay it workssss*/